<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="itemWrap" onmouseover="viewProduct('{{this.description}}', '{{this.networkPrice}}', '{{this.marketingBullets}}', '{{this.imageUrls.md}}');">
        <div class="thumbnail">
            <img src="{{imageUrls.sm}}" alt="">
        </div>
        <p class="description">{{description}}</p>
        <h4 class="price">{{networkPrice}}</h4>
        <a onClick="viewProduct('{{this.description}}', '{{this.networkPrice}}', '{{this.marketingBullets}}', '{{this.imageUrls.md}}');" class="btn btn-info">View More</a>
    </div>
</div>